/* Background pattern from Toptal Subtle Patterns */
body {
    background-image: url('../images/website_background.jpg'); 
    font-family: 'Roboto', serif;
}

.header {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: 75px;
    top: 0px;
    right: 0px;
    left: 0px;
    margin-bottom: 100px;
    border-bottom: solid #cccccc 3px;
}

.container {
    width: 960px;
    margin: auto;
    
}
.name {
    display: inline-block;
    background:#6c6c92;
    position: fixed;
}    

.nav {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    float: right;
    
}

.nav li {
    display: inline-block;
    padding-top: 30px;
    padding-right: 10px;
    height: auto;
    text-decoration: none;
    font-size: 21px;
    color: #c6c6c6;
}

h1 {
    color: white;
    padding: 13.5px;
    font-size: 50px;
}

.box {
    border: 2px solid #ccc;
    width: 960px;    
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;

}

h2 {
    color: #6c6c92;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-top: 2px solid #6c6c92;
}

img.me {
    float: left;
    padding-right: 20px;
    padding-left: 20px;

}

p {
    line-height: 175%;
    padding-left: 20px;
    padding-right: 20px;
    
}

div.footer {
    background-color: #c6c6c6;
    position: fixed;
    margin:0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    border-top: 4px solid #6c6c92;
    height: 17px;
    padding-top:25px;
    text-align: center;
    color: #6c6c92;
}

/* unvisited link */
a:link {
    color: #c6c6c6;
    text-decoration: none;
}

/* visited link */
a:visited {
    color:#6c6c92;
}

